/*Some necessary adjustments*/
h1, body, html, main {
  margin: 0;
} 
/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}

header{
  background-image: url("/images/soup.jpg");
  height: 500px;
  background-size: cover;
  text-align: center;
  padding-top: 250px;
  color: white;
  font-size: 30px;
}

#description {
  width: 50%;
  text-align: center;
  border-bottom: 2px solid black;
  margin: 0 auto;
  margin-top: 100px;
  font-size:larger;
}

#description img{
   height: 50px;
}

#ingredients {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  border-bottom: 2px solid black;
  margin-top: 50px;
}
#ingredients img {
    padding-left: 27%;
    height: 70px;
}
#directions {
  width: 50%;
  text-align: left;
  margin: 0 auto;
}
